body {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar-track {
  opacity: 1 !important;
}

::-webkit-scrollbar-track {
  opacity: 1 !important;
}

::-webkit-scrollbar {
  opacity: 1 !important;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  opacity: 0.5 !important;
  background-color: #374045;
}

 input{
    -webkit-appearance: none;
    appearance: none;
  }